<IfModule mod_rewrite.c>
	RewriteEngine On

	# Deny Access to Hidden Files and Directories
	RewriteCond %{SCRIPT_FILENAME} -d [OR]
	RewriteCond %{SCRIPT_FILENAME} -f
	RewriteRule "(^|/)\." - [F]
</IfModule>
